<%- unless @information.empty?  %>
<div id="information">
  <div>
    City: <%= @information["name"] %>
  </div>
  <div>
    Country: <%= @information["sys"]["country"] %>
  </div>
  <div>
    Weather: <%= @information["weather"][0]["description"] %>
  </div>
</div>
<%- end %>
