<%- unless @information.empty?  %>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="display-3">
            <%= @information["name"] %>
        </h1>
        <p class="lead">
        The weather in <%= "#{@information["name"]}, #{@information["sys"]["country"]}" %> now is <mark>
        <%= @information["weather"][0]["description"] %></mark>
        </p>
    </div>
    <div class="col-md-3"></div>
<% else %>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="display-3">Sorry</h1>
      <p class="lead">
      No weather data could be found, please try another city.
      </p>
    </div>
    <div class="col-md-3"></div>
<%- end %>
